<header role="banner">
        <h2>Admin</h2>
        <ul class='avatar-login'>
            <li class="avatar">
                <a href=""><img src="./images/avatar.png"></a>
            </li>
            <li><a href="/admin-login" class="logout">Logout</a></li>
        </ul>
    </header>
    <div class="header">
        <img src="./images/nemsa_logo.png">
    </div>
    
<main role="dashboard">
    <div class="welcome">
        <h3>Officers' Login Data</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</td>
                    <th>Email</td>
                    <th>Modify</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ada Mark</td>
                    <td>honeypie@gmail.com</td>
                    <td><button class="btn remove">Remove</button><button
                            class="btn admin">Make Admin</button></td>
                </tr>
            </tbody>

        </table>
    </div>

    <div id="reminder">
        <h2>Add New User</h2>
        <div class="record-form">
            <form action="/addUser" method="POST">
                <p>
                    <label for="name">First Name</label>
                    <input type="text" required name="name">
                </p>
                <p>
                    <label for="name">Last Name</label>
                    <input type="text" required name="name">
                </p>
                <p>
                    <label for="username">Email</label>
                    <input type="text" required name="username">
                </p>

                <p>
                    <label for="id">Staff ID</label>
                    <input type="text" required name="id">
                </p>

                <p>
                    <label for="password">Password</label>
                    <input type="text" required name="password">
                </p>
               
                <p>
                    <button class="add">Add</button>
                </p>
            </form>
        </div>
    </div>
</main>