<header role="banner">
    <h2>
        <%= user %>
    </h2>
    <ul class='avatar-login'>
        <li class="avatar">
            <a href=""><img src="./images/avatar.png"></a>
        </li>
        <li><a href="/admin-login" class="logout">Logout</a></li>
    </ul>
</header>
<div class="header">
    <img src="./images/nemsa_logo.png">
</div>

<main role="dashboard">
    <div class="container">
        <h2>Manage Users</h2>
        <div class="toggle-buttons"><button class="btn" id="add">Add User</button> <button class="btn" id="remove">Remove
                User</button></div>
        <div class="docker" id="docker-1">
            <form action="/addUser" method="POST" encrypt="multipart/form-data" id="add_user">
                <div>
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" required>
                </div>

                <div>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" required>
                </div>

                <div>
                    <label for="staff_id">Staff ID</label>
                    <input type="text" name="staff_id" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" required>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>
                <div>
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" required>
                </div>
                <div>
                    <label for="avatar">Upload Image</label>
                    <input type="file" name="avatar" accept="image/jpeg, image/png" required />
                </div>

                <div class="radio-div">
                    <label>Administrator</label>

                    <label class="radio-button">
                        <input type="radio" name="admin" value="no" checked="checked">
                        <span class="label-visible">
                            <span class="fake-radiobutton"></span>
                            No
                        </span>
                    </label>

                    <label class="radio-button">
                        <input type="radio" name="admin" value="yes">
                        <span class="label-visible">
                            <span class="fake-radiobutton"></span>
                            Yes
                        </span>
                    </label>

                </div>
                <div>
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
            <div class="messages" id="messages">

            </div>
        </div>

        <div class="docker" id="docker-2">
            <form>
                <div>
                    <label for="">First Name</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Last Name</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Staff ID</label>
                    <input type="text">
                </div>

                <div id="remove-button">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript" src="/main/admin-forms.js"></script>