<header role="banner">
        <h2>Admin</h2>
        <ul class='avatar-login'>
            <li class="avatar">
                <a href=""><img src="./images/avatar.png"></a>
            </li>
            <li><a href="/admin-login" class="logout">Logout</a></li>
        </ul>
    </header>
    <div class="header">
        <img src="./images/nemsa_logo.png">
    </div>
    
<main role="dashboard">
    <div class="container">
        <h1>Hello</h1>
    </div>
</main>