<header role="banner">
    <ul class='avatar-login'>
        <li><a href="/" class="logout"> <i class="fa fa-home fa-lg fa-fw"></i> </a></li>
    </ul>
</header>
<div class="header">
    <img src="./images/nemsa_logo1.png">
    <div>
        <h5>NIGERIAN ELECTRICITY MANAGEMENT SERVICES AGENCY</h5>
    </div>
</div>
<div class="overlay-bg">
</div>
<div class="overlay"></div>
<main role='login'>
    <div class="overlay"></div>
    <div id="sign-in-form">
        <div>
            <form action="/loginOffice" method="POST">
                <legend>Sign in to your account</legend>
                <div>
                    <label for="email"></label>
                    <input type="email" required placeholder="Email" name="email">
                    <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div>
                    <label for="password"></label>
                    <input type="password" required placeholder="Password" name="password">
                    <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div>
                    <button type="submit" class="btn">LOGIN</button>
                </div>
            </form>
        </div>
        <div>
            <p class="access-message">
                <% include ./partials/messages %>
            </p>
            <p class="instructions">Administration? Click <a href="/adminLogin">here</a></p>
        </div>
    </div>
</main>