<header role="banner">
    <ul class='avatar-login'>
        <li><a href="/" class="logout"> <i class="fa fa-home fa-lg fa-fw"></i> </a></li>
    </ul>
</header>
<div class="header">
    <img src="./images/nemsa_logo1.png">
    <div>
        <h5>NIGERIAN ELECTRICITY MANAGEMENT SERVICES AGENCY</h5>
    </div>
</div>
<div class="overlay-bg">
</div>
<div class="overlay"></div>
<main role='login'>
    <div class="overlay"></div>
    <div id="sign-in-form">

        <form action="/login" method="POST">
            <legend>Sign in to your account</legend>
            <div>
                <label for="email"></label>
                <input type="email" required placeholder="Email" name="email">
                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <div>
                <label for="password"></label>
                <input type="password" required placeholder="Password" name="password">
                <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <div id="message"></div>
            <div>
                <button type="submit" class="btn">LOGIN</button>
            </div>
            <p class="instructions">Administration? Click <a href="/admin-login">here</a></p>
        </form>

    </div>
</main>