<header role="banner">
    <h2>KM Isoh</h2>
    <ul class='avatar-login'>
        <li class="avatar">
            <a href=""><img src="./images/avatar.png"></a>
        </li>
        <li><a href="/" class="logout">Logout</a></li>
    </ul>
</header>
<div class="header" id="header">
    <img src="./images/nemsa_logo.png">
</div>
<main role="dashboard">
    <div class="container">
        <h2>Meter Verification/Testing</h2>
        <div class="toggle-buttons"><button>Routine Test</button> <button>Type Test</button></div>
        <div class="docker">
            <form>
                <div>
                    <label for="">Vendor Type</label>
                    <input type="checkbox">
                    <input type="checkbox">
                </div>

                <div>
                    <label for="">Year of Manufacture</label>
                    <input type="date" >
                </div>

                <div>
                    <label for="">Meter Model</label>
                    <select>
                        <option></option>
                    </select>
                </div>

                <div>
                    <label for="">Meter Type</label>
                    <select>
                        <option></option>
                    </select>
                </div>


                <div>
                    <label for="">Meter Class</label>
                    <select>
                        <option></option>
                    </select>
                </div>
                <div>
                    <label for="">Meter Number</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">CRIMP Seal number</label>
                    <p> Seal 1 <span><input type="text"> </span> </p>
                    <p> Seal 2 <span><input type="text"> </span> </p>
                </div>

                <div>
                    <label for="">Date of Routine Test</label>
                    <input type="date">
                </div>
                <div>
                    <label for="">Expiry Date</label>
                    <input type="date">
                </div>


                <div>
                    <label for="">Tariff Charge</label>
                    <input type="text">
                </div>

                <div class="full">
                    <label for="remarks">Observation/Remarks</label>
                    <textarea name="remarks" cols="30" rows="5"></textarea>
                </div>

                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

        <div class="docker" >
            <form>
                <div>
                    <label for="">Vendor Name</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Country of Manufacture</label>
                    <select>
                        <option>
                        </option>
                    </select>
                </div>
                <div>
                    <label for="">Type Design</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Meter Make</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Meter Rating</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Test Certification Number</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Date Certified</label>
                    <input type="date">
                </div>

                <div>
                    <label for="">Expiry Date</label>
                    <input type="date">
                </div>

                <div>
                    <label for="">Vendor Email Address</label>
                    <input type="email">
                </div>

                <div>
                    <label for="">Vendor Phone Number</label>
                    <input type="text">
                </div>
                <div class="full">
                    <label for="">Observation</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="">Remark</label>
                    <input type="checkbox">
                    <input type="checkbox">
                </div>

                <div>
                    <label for="">Name of officer that certified the meter</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Officer's Email Address</label>
                    <input type="email">
                </div>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript" src="/main/main.js"></script>