<header role="banner" class="verify-header">
    <ul class='avatar-login'>
        <li><a href="/login" class="logout">Login</a></li>
    </ul>
</header>
<div class="header" id="header">
    <img class="logo" src="./images/nemsa_logo.png">
</div>

<main role="dashboard">
        <!-- <div class="bubble-4 is-revealing">
                <svg width="230" height="235" viewBox="0 0 230 235" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <path d="M196.605 234.11C256.252 234.11 216 167.646 216 108 216 48.353 167.647 0 108 0S0 48.353 0 108s136.959 126.11 196.605 126.11z" id="bubble-4-a"/>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                        <mask id="bubble-4-b" fill="#fff">
                            <use xlink:href="#bubble-4-a"/>
                        </mask>
                        <use fill="#7CE8DD" xlink:href="#bubble-4-a"/>
                        <circle fill="#3BDDCC" mask="url(#bubble-4-b)" cx="30" cy="108" r="108"/>
                        <circle fill="#B1F1EA" opacity=".7" mask="url(#bubble-4-b)" cx="265" cy="88" r="108"/>
                    </g>
                </svg>
            </div> -->
    <div class="container verification-container">
        <h2>Meter Verification Portal</h2>
        <div>
            <form method="GET" id="search">
                <div class="search-div">
                    <input type="text" required placeholder="Enter Seal Number..." name="serialNumber">
                    <button type="submit"> <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i></button>
                </div>
            </form>
            <div class="messages-div">
                <div id="messages"></div>
                <div class="loader" id="loader">Loading...</div>
            </div>
        </div>
        <div class="footer">
            <h6>Copyright © 2019 NEMSA. All Rights Reserved. </h6>
        </div>
    </div>
</main>
<script type="text/javascript" src="/main/verifications.js"></script>