* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif SC', serif;
  color: #ffffff;
  overflow-x: hidden;
}

.overlay-bg {
  position: absolute;
  width: 100vw;
  background: #7cc68d;
  height: 100%;
  z-index: -99;
}

.overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(68, 65, 65, 0.3);
  height: 100%;
  z-index: -96;
}

nav[role='login'] {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #7cc68d;
  border-bottom: 1px solid #e5ecf0;
  z-index: 4;
  text-align: center;
  display: inline-block;
}

header[role='banner'] {
  position: fixed;
  width: 100%;
  height: 54px;
  z-index: 999;
  top: 0;
  background-color: #7cc68d;
}

header[role='banner'] h3 {
  position: absolute;
  top: 12px;
  left: 26px;
  color: #fff;
}

header[role='banner'] ul {
  display: flex;
  float: right;
  position: relative;
}

header[role='banner'] ul li {
  display: inline;
  margin-right: 10px;
}

header[role='banner'] ul li a img {
  height: 42px;
  width: 42px;
  top: 10px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

header[role='banner'] ul li .logout {
  color: darkgreen;
  top: 15px;
  position: relative;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 54px;
  width: 100%;
  z-index: 99;
  padding-bottom: 15px;
  -webkit-box-shadow: 0px 0.8px 0.8px #645f64;
  -moz-box-shadow: 0px 0.8px 0.8px #807780;
  box-shadow: 0px 0.8px 0.8px #868286;
}

.verify-header {
  background-color: #7cc68d !important;
}

.header img {
  max-width: 35vw;
  margin-top: 9px;
  height: 5.2em;
  display: inline-block;
}

.header div {
  display: inline-block;
  word-wrap: break-word;
  top: 29px;
  max-width: 370px;
  position: absolute;
  text-align: center;
  margin-left: 1px;
  font-size: 1.4em;
  hyphens: auto;
}

main[role='login'] {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

main #sign-in-form {
  z-index: 3;
  position: relative;
  top: 30vh;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 4px;
  height: 400px;
  background: rgb(250, 250, 250);
  padding: 20px 22px;
  padding: 1.2em;
  opacity: 0;
  animation-name: appear;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  /* color: #fff; */
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    10px 10px 20px 10px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 10px 10px 20px 10px rgba(0, 0, 0, 0);
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main #sign-in-form {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1, 1fr);
}

#sign-in-form form {
  color: #000;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

#sign-in-form label {
  display: block;
  left: 40px;
  position: relative;
  margin-bottom: 10px;
}

#sign-in-form input {
  width: 100%;
  padding: 0.6em;
  height: 52px;
  border: none;
  transition: 0.3s;
  padding-left: 40px;
  border-bottom: 2px solid #ccc;
  outline: none;
  border-radius: 5px;
}

#sign-in-form div {
  position: relative;
}

#sign-in-form div i {
  position: absolute;
  left: 0;
  top: 19px;
  padding: 9px 8px;
  color: #61b374;
  transition: 0.3s;
}

legend {
  text-decoration: underline;
  font-size: 20px;
  color: rgb(31, 160, 61);
}

.instructions {
  color: #000;
  margin-bottom: -10px;
}

.fa-search {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  border: none;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#sign-in-form input:focus {
  border-bottom: 3px solid rgba(81, 203, 238, 1) !important;
}

.btn {
  background-color: #61b374;
  border-radius: 10px;
  margin-right: 5px;
  border-style: none;
  box-shadow: rgb(240, 241, 247) 0 1px 0 0;
  color: #ffffff;
  outline-style: none;
  cursor: pointer;
}

#sign-in-form button {
  width: 100%;
  padding: 1.2em;
  padding: 9px 30px;
  height: 52px;
}

#sign-in-form button:hover {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/* .access-message {
  width: 100%;
  color: red;
  height: 30px;
} */

main[role='dashboard'] {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main[role='dashboard'] .container {
  width: 1200px;
  height: 1500px;
  top: 190px;
  padding: 0 2em;
  line-height: 1.6;
  color: #333;
  position: relative;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    10px 10px 20px 10px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 10px 10px 20px 10px rgba(0, 0, 0, 0);
}

main[role='dashboard'] .verification-container {
  height: 70% !important;
  position: relative;
  text-align: center;
}

main[role='dashboard'] .verification-container form {
  width: 100%;
  margin-top: 20px;
  height: 45px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main[role='dashboard'] .verification-container form div {
  width: 65%;
  position: relative;
  height: inherit;
}

main[role='dashboard'] .verification-container form div input {
  width: 80%;
  height: inherit;
  border: 1px solid #7cc68d;
  padding: 10px;
  border-radius: 20px;
}

main[role='dashboard'] .verification-container form .search-div input:focus {
  outline: none;
  border: 2px solid #61b374;
}

main[role='dashboard'] .verification-container form .search-div button {
  width: 10%;
  cursor: pointer;
  margin-left: -9.8%;
  position: absolute;
  height: inherit;
  outline: none;
  color: green;
  border: none;
  background: none;
  transition: all ease-in .2s;
  transform: scale(1.2)
}

main[role='dashboard'] .verification-container form .search-div button:hover {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
}

main[role='dashboard'] .verification-container .footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto
}

.toggle-buttons button {
  width: 100px;
  margin-top: 10px;
  height: 30px;
  background-color: dodgerblue;
  transition: all ease-in .2s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.toggle-buttons button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.toggle-buttons #add {
  background-color: green;
}

#routine-test {
  background-color: green;
}
input[type='file'] {
  border: none;
  outline: 0;
  opacity: 0.6;
}

input[type='email'] {
  text-transform: lowercase;
}

 .btn-save {
  width: 60px;
  height: 20px;
  background-color: #61b374;
  border-radius: 3px;
  margin-right: 5px;
  border-style: none;
  box-shadow: rgb(240, 241, 247) 0 1px 0 0;
  color: #ffffff;
  outline-style: none;
  cursor: pointer;
}
.delete {
  width: 100px;
  height: 30px;
  background-color: #d60c0c;
  border-radius: 6px;
  float: right;
  margin-top: 40px;
  right: 60px;
  border-style: none;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  outline-style: none;
  cursor: pointer;
}
.container .docker form {
  transition: 2s;
  margin-top: 40px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.container .docker form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
}

.container .docker form input,
.container .docker form select {
  width: 80%;
  height: 30px;
  transition: 0.3s;
  border: none;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  outline: none;
  border-radius: 5px;
}

fieldset {
  border: 0;
}

.container .docker form input:focus {
  border-bottom: 2px solid dodgerblue;
}

.container .docker form .full {
  grid-column: 1/2;
}

.container .docker form .last-observation {
  grid-row: 7/8;
}

.container .docker form .cert-btn {
  margin-top: 80px;
}

textarea {
  width: 210px;
  height: 90px;
  border: 2px solid #ccc;
}

.container .docker form .checkbox-div fieldset .local {
  display: inline-block;
  margin-right: 10px;
}

.container .docker form .checkbox-div fieldset .foreign {
  display: inline-block;
}

.container .docker form button[type='submit'] {
  width: 150px;
  position: absolute;
  margin-top: 70px;
  height: 30px;
}

.container .docker form #remove-button button {
  position: absolute;
  margin-top: 30px;
}

.double-row {
  grid-row: 2/3;
}

#last-submit-button button {
  position: absolute;
  margin-top: 95px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#docker-2 {
  position: absolute;
  top: 77px;
  display: none;
  transition: 0.3s;
}

#docker-3 {
  position: absolute;
  top: 77px;
  display: none;
  transition: 0.3s;
}

.radio-button,
.checkbox {
  position: relative;
  margin: 15px 0;
  display: inline-block !important;
}

.checkbox {
  display: block;
}

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  visibility: hidden;
}

.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 1.7em;
  margin-bottom: 0;
}

.fake-radiobutton,
.fake-checkbox {
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid slategray;
  background-color: white;
}

.fake-radiobutton:after,
.fake-checkbox:after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: dodgerblue;
  transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton {
  border-radius: 50%;
}

.fake-radiobutton:after {
  border-radius: 50%;
}

input[type='radio']:checked+span .fake-radiobutton:after,
input[type='checkbox']:checked+span .fake-checkbox:after {
  display: block;
}

.container .docker .messages-div {
  display: block;
  position: relative;
  color: rgb(219, 29, 29);
  width: 100%;
  margin-top: 40px;
  padding: 0;
  font-size: 16px;
  text-align: left;
}

.container .messages-div {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 40px;
  font-size: 16px;
}

[type='date'] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type='date']::-webkit-inner-spin-button {
  display: none;
}

[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

::-webkit-datetime-edit {
  padding: 1em;
}

::-webkit-datetime-edit-text {
  color: red;
  padding: 0 0.3em;
}

::-webkit-datetime-edit-month-field {
  color: blue;
}

::-webkit-datetime-edit-day-field {
  color: green;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load 1.8s infinite ease-in-out;
  animation: load 1.8s infinite ease-in-out;
}
.loader {
  display: none;
  color: #008040;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -1.75em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.75em;
}
@-webkit-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 1.25em 0 -.625em;
  }
  40% {
    box-shadow: 0 1.25em 0 0;
  }
}
@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 1.25em 0 -.625em
  }
  40% {
    box-shadow: 0 1.25em 0 0;
  }
}



table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 90%;
  margin: auto;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  border: 1px solid #ddd;
}

th {
  background-color: rgb(69, 160, 90);
  color: #fff;
}

table th,
table td {
  padding: 0.6em;
  text-align: center;
}

table th {
  font-size: 0.7em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .container .docker form {
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.6em;
  }
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    background-color: rgb(54, 146, 75);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border: none;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border: none;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  main #sign-in-form {
    max-width: 300px;
    margin-top: 2vh;
    height: 390px;
  }

  .header .logo {
    max-width: 70vw;
  }
  main[role='dashboard'] .container {
  padding: 0.4em 0.6em;
  }
  .container .docker form {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.6em;
  }

  .container .docker form .address {
    grid-row: 4/5;
  }

  .container .docker form .last-observation {
    grid-row: 12/13;
  }

  main[role='dashboard'] .verification-container form div {
    width: 85%;
  }

  .header img {
    width: 25vw;
  }
  .header .logo {
    width: 65vw;
  }
  .header div {
    font-size: 1em;
  }
}